*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    min-height:100vh;
    background: #42032C;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
  }
  
  h2{
    margin: 30px;
   font-family: 'Lobster', cursive;
   text-shadow: 5px 0 #232931;
   font-size: 3rem;
   color: #54B435;
   align-items: center;
   text-align: center;

  }

  



  .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:50px;
  }
  
  

  button {
    flex: 0 0 22%;
    width: 100px;
    height: 52px;
    font-size:22px;
    font-weight: 600;
    border-radius: 5px;
    background:#EE6983;
    text-align: center;

    justify-content: space-between;
  }

  #rock {
    color:#fff;
  }
  #paper {
    color:#f6d51a;
  }
  #scissors {
    color:rgb(71, 40, 250)
  }
  
  .computer {
    color: #f6d51a;
  }

  .result {
    color: azure;
    font-family: 'Montserrat', sans-serif;

  }
  